:root {
	--color-background: rgb(243, 243, 243);
	--color-beige: rgb(249, 235, 221);
	--color-violet: rgb(107, 72, 215);
	--color-yellow: rgb(255, 197, 91);
	--color-purple: rgb(215, 202, 252);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-background);
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
}
