.main {
	display: grid;
	grid-template-areas:
		"create social social schedule"
		"create manage maintain schedule"
		"write manage maintain schedule"
		"write faster grow grow";
	grid-template-columns: repeat(4, 18vw);
	gap: 30px;
	margin: 30px auto;
}
